@using iBalekaWeb.Models
@model iBalekaWeb.Models.MapViewModels.RouteViewModel

@section AddToHead {
    <link rel="stylesheet" href="~/css/mapStyle.css" />
}
@{
    ViewData["Title"] = "EditRoute";
}
@inject SignInManager<ApplicationUser> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="loadingScreen">
        <div class="fullMessage">
            <div class="loadingText">
                <h4>Please wait while map is loading...</h4>
            </div>
            <div class="progress preloading">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="map"></div><br />
        <div id="toolBoxWrapper">
            <div id="statisticsWrapper">
                <p><input type="text" class="mdl-textfield__input" style="text-align:center" id="routeTitle" value="Untitled Route"></p>
                <p id="totalDistance">Total Distance: 0</p>
                <p id="nrCheckpoints">Nr of Checkpoints: 0</p>
            </div>
            <div id="buttonsWrapper">
                <input type="button" id="btnUpdateRoute" onclick="updateRoute()" value="Update Route" />
                <input type="button" id="btnClearRoute" onclick="clearRoute()" value="Clear Route" />
                <input type="button" id="btnCancelRoute" onclick="cancelRoute()" value="Cancel Route" />
            </div>
        </div>
    </div>
}
@section Scripts {
    <script src=@Url.Content("~/js/ibalekaMap.js")></script>
    <script>
        $(function () {
            $("footer").hide(true);
        });
        var routeObject = @Html.Raw(Json.Serialize(Model));
        $(document).ready(function(){            
            $('.loadingScreen').delay(3000).fadeOut(2000);
            $('.wrapper').fadeIn(2000);
            $("#btnUpdateRoute").click(function(){
                $('#btnUpdateRoute').prop('disabled', true);
                var $toastContent = $('<span>Updating Route...</span>');
                Materialize.toast($toastContent, 9000);
            });
        });
        window.onload = function(){
            loadRoute(routeObject);
        };
    </script>
    <script src=@Url.Content("https://maps.googleapis.com/maps/api/js?key=AIzaSyDHxukvC6e2Xu82BYYiUNO-4oiE8kU_ePU&libraries=places,drawing,geometry&callback=initMap") async defer></script>

}



