@section AddToHead {
    <link rel="stylesheet" href="~/css/mapStyle.css" />
<style>
  

    #toolBoxWrapper {
        display: none;
    }
</style>
}
@using Microsoft.AspNetCore.Identity
@using iBalekaWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "iBaleka Route Mapping Tool";
}

@if (SignInManager.IsSignedIn(User))
{

    <form asp-action="Map">
        
        <div id="map"></div><br />
        <div id="toolBoxWrapper">
            <div id="statisticsWrapper">
                <p id="routeTitle" class="">Untitled Route</p>
                <p id="totalDistance">Total Distance: 0</p>
                <p id="nrCheckpoints">Nr of Checkpoints: 0</p>
            </div>
            <div id="buttonsWrapper">
                <input type="button" id="btnSaveRoute" onclick="saveRoute()" value="Save Route" />
                <input type="button" id="btnClearRoute" onclick="clearRoute()" value="Clear Route" />
            </div>
        </div>

        <div class="preload">
            <!-- MDL Spinner Component -->
            <div class="mdl-spinner mdl-js-spinner is-active" id="loader"></div>
        </div>
    </form>
}
@section Scripts {
    <script src=@Url.Content("https://maps.googleapis.com/maps/api/js?key=AIzaSyDHxukvC6e2Xu82BYYiUNO-4oiE8kU_ePU&libraries=drawing,geometry&callback=initMap") async defer></script>
    <script src=@Url.Content("~/js/ibalekaMap.js")></script>
    <script>
        $(function () {
            $(".preload").fadeOut(5000, function () {
                $("#map").fadeIn(1000);
                $("#toolBoxWrapper").fadeIn(1000);
            });
        });
        //$(function () {
        //    $("footer").hide(true);
        //});

    </script>
}
