@section AddToHead {
    <link rel="stylesheet" href="~/css/mapStyle.css" />
}
@using Microsoft.AspNetCore.Identity
@using iBalekaWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "iBaleka Route Mapping Tool";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="loadingScreen">
        <div class="fullMessage">
            <div class="loadingText">
                <h4>Please wait while map is loading...</h4>
            </div>
            <div class="progress preloading">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <form asp-action="Map">
            <div id="map"></div><br />
            <div id="toolBoxWrapper">
                <div id="statisticsWrapper">
                    <p id="routeTitle" class="">Untitled Route</p>
                    <p id="totalDistance">Total Distance: 0</p>
                    <p id="nrCheckpoints">Nr of Checkpoints: 0</p>
                </div>
                <div id="buttonsWrapper">
                    <input type="button" id="btnSaveRoute" onclick="saveRoute()" value="Save Route" />
                    <input type="button" id="btnClearRoute" onclick="clearRoute()" value="Clear Route" />
                </div>
            </div>
        </form>
    </div>
}
@section Scripts {
    <script src=@Url.Content("https://maps.googleapis.com/maps/api/js?key=AIzaSyDHxukvC6e2Xu82BYYiUNO-4oiE8kU_ePU&libraries=places,drawing,geometry&callback=initMap") async defer></script>
    <script src=@Url.Content("~/js/ibalekaMap.js")></script>
    <script>
        $(function () {
            $("footer").hide(true);
        });
        $(document).ready(function () {
            $('.loadingScreen').delay(3000).fadeOut(2000);
            $('.wrapper').fadeIn(2000);
            $("#btnSaveRoute").click(function () {
                $('#btnSaveRoute').prop('disabled', true);
                var $toastContent = $('<span>Saving Route...</span>');
                Materialize.toast($toastContent, 9000);
            });
        });
</script>
}
