@section AddToHead {
    <link rel="stylesheet" href="~/css/mapStyle.css" />
}
@using Microsoft.AspNetCore.Identity
@using iBalekaWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "iBaleka Route Mapping Tool";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="loadingScreen">
        <div class="fullMessage">
            <div class="loadingText">
                <h4>Please wait while map is loading...</h4>
            </div>
            <div class="progress preloading">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div id="editButton" class="fixed-action-btn vertical click-to-toggle">
            <a class="btn btn-floating btn-large red">
                <i class="material-icons">mode_edit</i>
            </a>
            <ul class="statsMenu">
                <li><a class="btn btn-floating tooltipped yellow" data-position="right" data-delay="150" data-tooltip="Search Location" onclick="searchPanelToggle()"><i class="material-icons">search</i></a></li>
                <li><a class="btn btn-floating tooltipped green darken-1" data-position="right" data-delay="150" data-tooltip="Save Route" onclick="saveRoute()"><i class="material-icons">save</i></a></li>
                <li><a class="btn btn-floating tooltipped blue" data-position="right" data-delay="150" data-tooltip="Settings" onclick="settingsPanelToggle()"><i class="material-icons">settings</i></a></li>
                <li><a class="btn btn-floating tooltipped red" data-position="right" data-delay="150" data-tooltip="Statistics"><i class="material-icons" onclick="statsPanelToggle()">description</i></a></li>
            </ul>
        </div>
        <div id="statsPanel" class="card teal lighten-5" onclick="closeStatsPanel()">
            <div class="card-content black-text">
                <span class="card-title">Statistics</span>
                <div id="statistic">
                    <p id="routeTitleStat">Untitled Route</p>
                    <p id="totalDistance">Total Distance: 0</p>
                    <p id="nrCheckpoints">Nr of Checkpoints: 0</p>
                </div>
            </div>
        </div>
        <div id="settingsPanel" class="card teal lighten-5">
            <span id="btnCloseSettingsPanel" class="btn btn-floating btn-small waves-effect waves-light teal" onclick="closeSettingsPanel()"><i class="material-icons">close</i></span>
            <div class="card-content black-text">
                <span class="card-title" id="setTitle">Settings</span>
                <div id="settings">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                @*<label id="routeLabel" class="black-text">Route Title</label>*@
                                <input placeholder="Enter Route Title" id="routeTitle" onfocusout="updateRouteTitle()" type="text" class="validate">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light white-text" id="btnSaveRoute" onclick="saveRoute()">Save Route</button>
                    <button class="btn waves-effect waves-light white-text" id="btnClearRoute" onclick="clearRoute()">Clear Route</button>
                    <button class="btn waves-effect waves-light white-text" id="btnCancelRoute" onclick="cancelRoute()">Cancel Route</button>
                </div>
            </div>
        </div>
        <div id="searchPanel" class="card teal lighten-5">
            <span id="btnCloseSearchPanel" class="btn-floating btn btn-small waves-effect waves-light teal" onclick="closeSearchPanel()"><i class="material-icons">close</i></span>
            <div class="card-content black-text">
                <span class="card-title" id="setTitleSearch">Search Location</span>
                <div id="settings" class="col s12">
                        <div class="row">
                            <span><i class="material-icons">search</i></span>
                            <input type="text" class="autocomplete active" id="autocomplete">
                        </div>                    
                </div>
                <div class="card-action">
                    <div class="row">
                        <button class="btn waves-effect waves-light white-text" id="btnSearchRoute" onclick="searchLocation()">Search Location</button>
                        <button class="btn waves-effect waves-light white-text" id="btnCurrentLocation" onclick="getLocation()">Current Location</button>
                    </div>
                    <button class="btn waves-effect waves-light white-text" id="btnRouteLocation" onclick="routeLocation()">Route Location</button>
                </div>
            </div>
        </div>
        <div id="routeTitleModal" class="modal teal lighten-5">
            <div class="modal-content">
                <h4>Please Enter Route Title</h4>
                <input placeholder="Enter Route Title" id="routeTitleTextModal" onfocusout="updateRouteTitle()" type="text" class="validate">
            </div>
            <div class="modal-footer teal lighten-5">
                <a href="#!" class="modal-action waves-effect waves-green btn btn-flat" onclick="saveRouteModal()">Save</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn btn-flat">Cancel</a>
            </div>
        </div>
        <div id="map"></div>
    </div>
}
@section Scripts {
@*<script src=/js/ibalekaMap.js></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjnuV3FErwMzDjZjz0zUnAFwWUkU9JiY&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script src=https://maps.googleapis.com/maps/api/js?key =AIzaSyDHxukvC6e2Xu82BYYiUNO-4oiE8kU_ePU&amp;libraries =places,drawing,geometry&amp;callback =initMap async defer></script>*@





    <script src=@Url.Content("~/js/ibalekaMap.js")></script>

    <script src=@Url.Content("https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjnuV3FErwMzDjZjz0zUnAFwWUkU9JiY&libraries=places,drawing,geometry&callback=initMap") async defer></script>


     <script>
        $(function () {
            $("footer").hide(true);
        });
        $(document).ready(function () {
            $('.loadingScreen').delay(3000).fadeOut(2000);
            $('.wrapper').fadeIn(2000);
            $('routeTitleModal').leanModal({
                dismissible: false
            });

        });

    </script>
}
