@section AddToHead {
    <link rel="stylesheet" href="~/css/mapStyle.css" />
}
@{
    ViewData["Title"] = "iBaleka Route Mapping Tool";
}

<form asp-action="Map">
        <div id="map"></div><br />
        <div id="toolBox">
            <div id="statisticsWrapper">
                <p id="totalDistance">Total Distance: </p>
                <p id="nrCheckpoints">Nr of Checkpoints: </p>
            </div>
            <div id="buttonsWrapper">
                <input type="button" id="btnSaveRoute" onclick="saveRoute" /><br />
                <input type="button" id="btnClearRoute" onclick="cleareRoute" />
            </div>
        </div>
        
    
</form>

@section Scripts {
    <script src=@Url.Content("https://maps.googleapis.com/maps/api/js?key=AIzaSyDR4BBX8Is0UhU2sYIv3HbpycxS0Vp1JdY&libraries=drawing,geometry&callback=initMap") async defer></script>
    <script src=@Url.Content("~/js/ibalekaMap.js")></script>
}
