@model IEnumerable<iBalekaWeb.Models.Route>

@{
    ViewData["Title"] = "Saved Routes";


}

<div class="container">

    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>

    </div>
    <div class="row">
        <div class="col s12 center">
            <form asp-controller="Map" asp-action="SearchRoute" method="get">
                <div class="input-field col s12 center">
                    <input id="searchEvent" type="text" class="validate" name="SearchTitle" required>
                    <label for="searchEvents">Search Route</label>
                    <input type="submit" value="Search" />


                </div>

            </form>

        </div>
    </div>
    <div class="row">
        <ul class="collection">
            @if (Model.Count() > 0)
            {
                foreach (var route in Model)
                {
                    string totalDistance = "";
                    if (route.Distance > 999)
                    {
                        totalDistance = Math.Round((route.Distance / 1000), 2).ToString() + "km";
                    }
                    else
                    {
                        totalDistance = route.Distance.ToString() + "m";
                    }



                    <li class="collection-item">
                       

                        <div>
                            @Html.ActionLink(route.Title + " - " + totalDistance, "EditRoute", new { id = route.RouteId })




                            <a class="secondary-content" href=@Url.Action("DeleteRoute", "Map", new { id = route.RouteId })>
                                <i class="material-icons">
                                    delete

                                </i>
                            </a>

                        </div>
                    </li>

                   

                }

            }
            else
            {
                <li class="mdl-typography--headline" style="text-align:center;">There are no Routes to Display</li>


            }
        </ul>

    </div>

    <div class="row">
        <div class="col pull-s6 right">
            <a asp-action="Map" asp-controller="Map" class="btn waves-effect waves-light btn-large red accent-3">
                Create Route
                <i class="material-icons right">send</i>
            </a>
        </div>

        <div class="col push-s6 left">
            <a asp-action="CreateEvent" asp-controller="Event" class="btn waves-effect waves-light btn-large red accent-3">
                Create Event
                <i class="material-icons right">send</i>
            </a>
        </div>
</div>
</div>




@section Scripts {
    <script src=@Url.Content("~/js/ibalekaMap.js")></script>
<script>
    $(document).ready(function () {
        var source = '@(ViewBag.SourcePageMap)';
        if(source=="Edit")
        {
            var $toastContent = $('<span>Route was successfully Updated...</span>');
            Materialize.toast($toastContent, 5000);
            source = null;
        }
        else if(source=="Add")
        {
            var $toastContent = $('<span>Route was successfully Added...</span>');
            Materialize.toast($toastContent, 5000);
            source = null;
        }
        else if(source=="Delete")
        {
            var $toastContent = $('<span>Route was successfully Deleted...</span>');
            Materialize.toast($toastContent, 5000);
            source = null;
        }
    });
</script>
}
