@model iBalekaWeb.Models.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Homepage";
}




<div class="row">
    <div class="col s6">
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/images/Running Event.jpg">

            </div>

            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Events<i class="material-icons right">help</i></span>
                <p><a asp-controller="Event" asp-action="CreateEvent">Add Event</a></p>

                <p><a asp-controller="Event" asp-action="Events">View List of Events</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Events<i class="material-icons right">close</i></span>
                <h5>Here you can add events and view a list of events </h5>
                <h5>On the saved events screen you will be given the option of adding a new event</h5>
            </div>
        </div>
    </div>


    <div class="col s6">
        <div class="card large">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="~/images/Routes.jpg">

            </div>

            <div class="card-content">
                
                <span class="card-title activator grey-text text-darken-4">Routes<i class="material-icons right">help</i></span>
                <p><a asp-controller="Map" asp-action="Map">Add Route</a></p>

                <p><a asp-controller="Map" asp-action="SavedRoutes">View List of Routes</a></p>

            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Routes<i class="material-icons right">close</i></span>
                <h5>Here you can add routes and view a list of saved routes </h5>
                <h5>On the saved route screen you will be given the option of adding a new route</h5>
            </div>
        </div>
    </div>


</div>


