@{
    ViewData["Title"] = "Homepage";
}


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col" id="profileInfo" style="background-color:palegreen">

    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col" style="background-color:aquamarine"></div>
    <div class="mdl-cell mdl-cell--6-col" style="background-color:palevioletred"></div>
</div>