@{
    ViewData["Title"] = "Welcome Home";
}
<div id="hero">
    <div class="container" id="hero-text-container">
        <div class="animated bounceInRight row">
            <div class="col s12 center-align text black-text text-accent-2" >
                <h1 id="hero-title"  itemprop="description">
                    <span class="bold">iBaleka</span>

                    <span class="thin">
                        One System<br /> Two Platforms.

                        <br />
                    </span>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <a href="#create" class="btn waves-effect waves-light btn-large red accent-3">
                        Get Started
                    </a>
                    <a class="btn waves-effect waves-light btn-large red accent-3" asp-controller="Home" asp-action="About">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>


<div class="row center-align" id="getting-started">
    <div class="spacer"></div>
    <div class="spacer"></div>
    <h3 class="thin center">First steps before you begin</h3>
    <div class="spacer"></div>
    <div class="row">


        <div class="col s6">
            <h5>Registration Steps</h5>
            <ul class="section" id="getting-started-list">
                <li class="flow-text">You may use the registration option at the top</li>

                <li class="flow-text"><strong class="bold"> Please</strong> input correct details</li>
                <li class="flow-text"><strong class="bold">Incorrect details</strong> on registration will present validation</li>
            </ul>
        </div>


        <div class="col s6">
            <h5>Login Steps</h5>
            <ul class="section" id="getting-started-list">
                <li class="flow-text">You may use the login option at the top</li>

                <li class="flow-text"><strong class="bold"> Please</strong> input correct details</li>
                <li class="flow-text"><strong class="bold">You may use social media</strong> or email logiin</li>
               
            </ul>
        </div>
    
    </div>

    @*<div class="section" id="getting-started-more-list">
        <p class="flow-text">Customise how members receive emails and how replies are handled.</p>
        <p class="flow-text">Allow new members to <a href="/online-signup">signup directly</a> from a dedicated web page.</p>
        <p class="flow-text">View <a href="/delivery-reports">delivery reports</a> to see if messages are getting through.</p>
        <p class="flow-text">Use a <a href="/custom-domains">custom domains</a> to personalise your messages.</p>
    </div>*@
</div>


<!-- Create Account -->

<div class="divider"></div>



