@model iBalekaWeb.Models.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Homepage";
}




    <div class="row">
        <div class="col s6">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/images/Running Event.jpg">
                    
                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Events<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link 1</a></p>
                    <p><a href="#">This is a link 2</a></p>
                    <p><a href="#">This is a link 3</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Events<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>


        <div class="col s6">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="~/images/Routes.jpg">

                </div>

                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Routes<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link 1</a></p>
                    <p><a href="#">This is a link 2</a></p>
                    <p><a href="#">This is a link 3</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Routes<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
       

    </div>


@*<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col ">
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-typography--headline" style="text-align:center;">Home Page</div>
                <hr />

                <div class="mdl-grid">
                 
                </div>
               
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Events</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                You have @Model.NumberOfEvents Events created
                            </div>
                            <div class="mdl-card__actions">
                                <a asp-action="Events" asp-controller="Event">Go To Events</a>
                            </div>
                        </div>

                    </div>


                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--6-col" >
                        <div class="mdl-card">
                            <div class="mdl-card__title">
                                <h2 class="mdl-card__title-text">Routes</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                You have @Model.NumberOfRoutes Routes created
                            </div>
                            <div class="mdl-card__actions">
                                <a asp-action="SavedRoutes" asp-controller="Map">Go To Routes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
        </div>
    </div>
</div>*@
