@{
    ViewData["Title"] = "Team";
}



   <div class="card-group">
    <div class="card">
        <img class="card-img-top img-fluid" data-src="..." src="~/images/Members/Lincoln.jpg" alt="Lincoln">
        <div class="card-block">
            <h4 class="card-title">Project Leader</h4>
            <p class="card-text"><small class="text-muted">Lincoln</small></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" data-src="..." src="~/images/Members/Okuhle.jpg" alt="Okuhle">
        <div class="card-block">
            <h4 class="card-title">Backend Developer</h4>
            <p class="card-text"><small class="text-muted">Okuhle</small></p>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
        </div>
    </div>
    <div class="card">  
        <img class="card-img-top img-fluid"  data-src="..." src="~/images/Members/Tulonga.jpg" alt="Tulonga">
        <div class="card-block">
            <h4 class="card-title">Backend Developer</h4>
            <p class="card-text"><small class="text-muted">Tulonga</small></p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
           
        </div>
    </div>
       <div class="card">
           <img class="card-img-top img-fluid"  data-src="..." src="~/images/Members/Xabiso.jpg" alt="Xabiso">
           <div class="card-block">
               <h4 class="card-title">Frontend Developer</h4>
               <p class="card-text"><small class="text-muted">Xabiso</small></p>
               <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
               
           </div>
       </div>
</div>

        @*<div class="col-md-5">
            <div class="testimonial-card z-depth-1">
                <div class="card-up default-color-dark">
                </div>
                <div class="avatar">
                    <img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-circle img-responsive">
                </div>
                    <div class="card-content">
                        <h5>Lincoln Gachagua</h5>
                        <h6>Project Leader</h6>
                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci, voluptatum placeat ducimus vero commodi provident culpa accusamus nostrum dolor, labore ratione eius.</p>
                    </div>
                </div>
            </div>

                    <div class="col-md-5">
                        <div class="testimonial-card z-depth-1">
                            <div class="card-up default-color-dark">
                            </div>
                            <div class="avatar">
                                <img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-circle img-responsive">
                            </div>
                            <div class="card-content">
                                <h5>Tulonga Hishiko</h5>
                                <h6>Backend Developer</h6>
                                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci, voluptatum placeat ducimus vero commodi provident culpa accusamus nostrum dolor, labore ratione eius.</p>
                            </div>  
                            </div>
                        </div>

                            <div class="col-md-5">
                                <div class="testimonial-card z-depth-1">
                                    <div class="card-up default-color-dark">
                                    </div>
                                    <div class="avatar">
                                        <img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-circle img-responsive">
                                    </div>
                                    <div class="card-content">
                                        <h5>Okuhle Ngada</h5>
                                        <h6>Backend Developer</h6>
                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci, voluptatum placeat ducimus vero commodi provident culpa accusamus nostrum dolor, labore ratione eius.</p>
                                    </div>
                                    </div>
                                </div>
                                    
                                <div class="col-md-5">
                                            <div class="testimonial-card z-depth-1">
                                                <div class="card-up default-color-dark">
                                                </div>
                                                <div class="avatar">
                                                    <img src="http://mdbootstrap.com/wp-content/uploads/2015/10/avatar-2.jpg" class="img-circle img-responsive">
                                                    </div>
                                                <div class="card-content">
                                                        <h5>Xabiso Hila</h5>
                                                        <h6>Frontend Developer</h6>
                                                        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci, voluptatum placeat ducimus vero commodi provident culpa accusamus nostrum dolor, labore ratione eius.</p>
                                                    </div>
                                                </div>
                                            </div>*@
                              
                       

