@model iBalekaWeb.Models.EventViewModels.EventViewModel

<form asp-action="SaveRoutes" method="post">
    <div class="form-horizontal">
        <h4>Create Event - Add Routes</h4>
        <hr />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" value="Back" id="btnBack" onclick="back('toCreateEvent')">Back</button>
                <button class="btn btn-default" value="Next" id="btnNext" onclick="addRoutes()">Next</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    <script src="~/js/eventsAjax.js"></script>
}
<script>
    var eventObject = @Html.Raw(Json.Serialize(Model));
    window.onload=(function(){
        loadEvent(eventObject);
    });
</script>

