@model iBalekaWeb.Models.Event

@{
    ViewData["Title"] = "Edit an Event";
}

<h2>@ViewData["Title"].</h2>

<form asp-action="EditEvent">
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EventId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger" />
            </div>
        </div>
             <div class="form-group">
            <label asp-for="DateAndTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateAndTime" class="form-control" />
                <span asp-validation-for="DateAndTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
