@model IEnumerable<iBalekaWeb.Models.Event>
@{
    ViewData["Title"] = "Saved Event";


}

<div class="container">
    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>

    </div>


    <div class="row">
        <ul class="collection">
            @if (Model.Count() > 0)
            {
                foreach (Event evnt in Model)
                {

                    <li class="collection-item">                      

                        <div>
                            @Html.ActionLink(evnt.Title + "-" + evnt.Location, "EventDetails", new { id = evnt.EventId })


                            <a class="secondary-content" href=@Url.Action("DeleteEvent", "Event", new { id = evnt.EventId })>
                                <i class="material-icons">
                                    delete

                                </i>
                            </a>

                        </div>
                    </li>
                }
            }
            else
            {
                <li class="mdl-typography--headline" style="text-align:center;">There are no Events to Display</li>
            }


        </ul>

    </div>

    <div class="row">
        <div class="col pull-s6 right">
            <a asp-action="CreateEvent" asp-controller="Event" class="btn waves-effect waves-light btn-large red accent-3">
                Create Event
                <i class="material-icons right">send</i>
            </a>
        </div>

        <div class="col push-s6 left">
            <a asp-action="Map" asp-controller="Map" class="btn waves-effect waves-light btn-large red accent-3">
                Create Route
                <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        var source = '@(ViewBag.SourcePageEvent)';
        if(source=="Edit")
        {
            var $toastContent = $('<span>Event was successfully Updated...</span>');
            Materialize.toast($toastContent, 5000);
            source = null;
        }
        else if(source=="Add")
        {
            var $toastContent = $('<span>Event was successfully Added...</span>');
            Materialize.toast($toastContent, 5000);
            source = null;
        }
        else if(source=="Delete")
        {
            var $toastContent = $('<span>Event was successfully Deleted...</span>');
            Materialize.toast($toastContent, 5000);
            source = null;
        }
    });
</script>




