/*Position Map*/
html, body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

#map {
    margin-left: -4%;
    height: 90vh;
    left: -1%;
    width: 109%;
}
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    #map {
        margin-left: -7%;
        height: 101vh;
        width: 117%;
    }
}

    @media only screen and (min-width: 320px) {
        #map {
            margin-left: -11%;
            height: 101vh;
            width: 123%;
        }
    }


    @media only screen and (min-width: 360px) {
        #map {
            margin-left: -9%;
            height: 101vh;
            width: 120%;
        }
    }

    @media only screen and (min-width: 400px) {
        #map {
            margin-left: -8%;
            height: 102vh;
            width: 118%;
        }
    }

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
    #map {
        margin-left: -6%;
        height: 102vh;
        width: 114%;
    }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    #map {
        margin-left: -7%;
        height: 94vh;
        width: 116%;
    }
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    #map {
        margin-left: -5%;
        height: 92vh;
        width: 112%;
    }
}

@media only screen and (min-width: 1200px) {
    #map {
        margin-left: -3%;
        height: 90vh;
        width: 108%;
    }
}

@media only screen and (min-width: 1300px) {
    #map {
        margin-left: -4%;
        height: 90vh;
        width: 110%;
    }
}

@media only screen and (min-width: 1400px) {
    #map {
        margin-left: -3%;
        height: 93vh;
        width: 108%;
    }
}
/*End Positioning Map*/

/*Position Stats Panel*/
/*#coordinates {
    margin-top: 10%;
}*/

/*Marker Table*/
/*.markerTable {
}*/ /*/*/
