/*Saved Routes*/
#routeList {
    margin-right: 5%;
}
/*End Saved Routes*/
/*Stats Panel*/
#routeTitle {
    width: 132px;
    height: 17px;
    text-align: center;
    font-size: 15px;
    padding-left: 14%;
}

#toolBoxWrapper {
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
    text-align: center;
}

#statisticsWrapper {
    font-size: 13px;
}

    #statisticsWrapper > p {
        margin-bottom: auto;
    }

#buttonsWrapper {
    border-radius: 2px;
    margin: 5px;
    text-align: left;
}

#btnSaveRoute {
    color: #3366ff;
}

#btnClearRoute {
    color: #3366ff;
}
/*End Toolbox Panel*/


/*Position Map*/
html, body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
}

#map {
    margin-left: -4%;
    height: 90vh;
    left: -1%;
    width: 109%;
}
/*End Position Map*/

/*Media queries*/
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    #map {
        margin-left: -7%;
        height: 101vh;
        width: 117%;
    }

    #toolBoxWrapper {
        margin: 14%;
    }

    #routeList {
        margin-right: 5%;
    }
}

@media only screen and (min-width: 320px) {
    #map {
        margin-left: -11%;
        height: 101vh;
        width: 123%;
    }

    #toolBoxWrapper {
        margin: 16%;
    }

    #routeList {
        margin-right: 5%;
    }
}


@media only screen and (min-width: 360px) {
    #map {
        margin-left: -9%;
        height: 101vh;
        width: 120%;
    }

    #toolBoxWrapper {
        margin: 14%;
    }

    #routeList {
        margin-right: 5%;
    }
}

@media only screen and (min-width: 400px) {
    #map {
        margin-left: -8%;
        height: 102vh;
        width: 118%;
    }

    #toolBoxWrapper {
        margin: 14%;
    }

    #routeList {
        margin-right: 5%;
    }
}

/*SMARTPHONES LANDSCAPE*/
@media only screen and (min-width: 480px) {
    #map {
        margin-left: -6%;
        height: 102vh;
        width: 114%;
    }

    #toolBoxWrapper {
        margin: 8%;
    }

    #routeList {
        margin-right: 5%;
    }
}

/*TABLETS PORTRAIT*/
@media only screen and (min-width: 768px) {
    #map {
        margin-left: -7%;
        height: 94vh;
        width: 116%;
    }

    #toolBoxWrapper {
        margin: 1%;
    }

    #routeList {
        margin-right: 5%;
    }
}
/*TABLET LANDSCAPE / DESKTOP*/
@media only screen and (min-width: 1024px) {
    #map {
        margin-left: 1%;
        height: 92vh;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    #map {
        margin-left: 1%;
        height: 88vh;
        width: 100%;
    }

    #routeList {
        margin-right: 14%;
    }
}

@media only screen and (min-width: 1300px) {
    #map {
        margin-left: 1%;
        height: 88vh;
        width: 100%;
    }

    #routeList {
        margin-right: 5%;
    }
}

@media only screen and (min-width: 1400px) {
    #map {
        margin-left: 1%;
        height: 91vh;
        width: 100%;
    }

    #routeList {
        margin-right: 5%;
    }
}
