/*Modal styles*/
#eventTiteText{
        padding-left: 43% !important;
}
#model1.modal.open{
    top:30%;
}

body{
	   overflow-y:hidden;
}
html, body, .main, #wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
 
}
.textDisplay{
	font-size:15px;
}
.preload{
	background: 50% 50% no-repeat rgb(249,249,249);
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}
#loader{
	height:150px;
	width:150px;position: fixed;
	left: 45%;
	top: 35%;
	width: 150px;
	height: 150px;
	z-index: 9999;
	
}
.xabisohila {
    font-size: 15px;
}

.padDisplayLeft{
	float:right;
}
.textInput{
	margin-bottom:-3% !important;
	text-align:center;
}
#map {
	margin: 0;
	bottom: 0;
	width: 100%;
	border: 1px solid black;
}

.routeddList{
	color:aquamarine;
}

#eventRouteList{
		margin-right: 25%;
	margin-left: 10%;
}
.row{
	font-family:monospace;
}
 
#mainLogo {
		padding-left: 5%;
}

#brand {
	display: inline-flex;
}

#logo {
	padding-left: 5%;
	
}

#icon {
	padding-top: 11%;
	padding-left: 5%;
}
.form-group {
	margin:-5%;
	
}
.android-drawer-separator {
	height: 1px;
	background-color: #dcdcdc;
	margin: 8px 0;
  }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }