html, body, .main, #wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    margin: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
}

.routeddList{
    color:aquamarine;
}
#routeList{
    margin-right: 25%;
}
#eventRouteList{
        margin-right: 25%;
    margin-left: 10%;
}

#mainLogo {
        padding-left: 5%;
}

#brand {
    display: inline-flex;
}

#logo {
    padding-left: 5%;
    
}

#icon {
    padding-top: 11%;
    padding-left: 5%;
}
