 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto;
   
  }
 .row{
     font-family:monospace;
 }
 .container1{
     margin-left:25%;
     margin-right:25%;
 }

  main {
    flex: 1 0 auto;
  }
.extra {
    display: none;
}
a:hover .extra{
   /*position:absolute;*/
   position:inherit;
   /*margin-top:5px;
   margin-left:-35px;
   text-decoration:none;
   color:grey;*/
}
  .div1{
     padding-left:2%;
     margin-right:50%;
     font-family:monospace;
     font-style:10%;
  }
  .div2{
      padding-left:4%;
      font-family:monospace;
  }
  .div3{
      padding-left:6%;
  }
  .row8{
      margin-left:20%;
      margin-right:20%;
  }
  .row14{
      margin-left:20%;
      margin-right:20%;
  }
  .row13{
      font-family:monospace;
  }
  .row20{
      font-family:monospace;
  }
  .row21{
      padding-right:2%;
      padding-top:2%;
  }
  .row18{
      margin-left:25%;
      margin-right:25%;
  }
  h2{
      font-family:monospace;
  }
  h3{
      font-family:monospace;
  }
  .row9{
      padding-left:5%;
  }
  .row10{
      margin-left:50%;
      padding-right:50%;
  }

  .xabisohila{
      font-family:monospace;
      font-size:15px;
      padding-left:2%;
      padding-right:3%;

  }
  .form2{
      margin-left:27%;
  }
  .row2{
      margin-left:25%;
      margin-right: 25%
  }
  .row4{
      margin-left:50%;
     
  }
  .chooseoption{
      margin-left:27%;
      margin-right:50%;
      font-family:monospace;
  }
  .mynig{
      padding-left:15%;
  }
  p{
      font-family:monospace;
  }
 

#hero-title {
    line-height: 1.5em;
    margin-top: 10%;
     color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s infinite linear;
    
}
.flow-text1{
    padding-right:50%; 
}
.center1{
    margin-right:50%;
}

#hero-title-one {
  margin: 0px 0px 20px 0px;
  line-height: 1.5em; }

#hero-title-two {
  margin: 0px;
  line-height: 0.5em; }

.hero-btn {
  margin: 10px; }

#hero{
     background-position: center;
    background-size: cover;
    /*width:auto;
    height:900px;
   
   background-image:url("http://www.derivcodev.com/wp-content/uploads/2014/09/HEADER1.jpg");*/
   
 }

.divider {
  height: 1px;
  overflow: hidden;
  /*opacity:0.5;*/
 background-color: #e0e0e0;
}


@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@-moz-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}