@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="container">

    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>




        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="col s12">



            <div class="row center-align">
                <div asp-validation-summary="All" class="red-text text-darken-2 "></div>
            </div>



            <div class="row">
                <div class="input-field col s12">
                    <label asp-for="Email" class="col-md-2 control-label"></label>

                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="red-text text-darken-2"></span>
                    </div>
                </div>

            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light teal lighten-1" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>


                </div>
          
        
</form>
        </div>

    </div>


    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

        <script>
            //$(function () {
            //    $("footer").hide(true);
            //    $("header").hide(true);
            //});

        </script>
    }
