@model RegisterViewModel
@{
    ViewData["Title"] = "Register";


}




<div class="container">
    
     <div>
         <h2 class="center-align">@ViewData["Title"]</h2>

     </div>

     <form asp-controller="Account" asp-action="Register" class="col s12" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

         <div class="row center-align">


             <div asp-validation-summary="All" class="red-text text-darken-2 "></div>




         </div>

         <div class="row">
             <div class="input-field col s12">
                 <label asp-for="UserName ">User Name</label>

                 <input asp-for="UserName" class="validate" />
                 <span asp-validation-for="UserName" class="red-text text-darken-2"></span>
             </div>
         </div>

         <div class="row">
             <div class="input-field col s12">
                 <label asp-for="Email ">Email</label>

                 <input asp-for="Email" class="validate" />
                 <span asp-validation-for="Email" class="red-text text-darken-2"></span>
             </div>
         </div>

         <div class="row">
             <div class="input-field col s12">
                 <label asp-for="Password">Password</label>

                 <input asp-for="Password" placeholder="Password" />
                 <span asp-validation-for="Password" class="red-text text-darken-2"></span>

             </div>
         </div>

         <div class="row">
             <div class="input-field col s12">

                 <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
                 <label asp-for="ConfirmPassword">Confirm Password</label>

                 <span asp-validation-for="ConfirmPassword" class="red-text text-darken-2"></span>
             </div>
         </div>

         <div class="row">
             <div class="input-field col s12">
                 <button class="btn waves-effect waves-light" type="submit" name="action">
                     Submit
                     <i class="material-icons right">send</i>
                 </button>
             </div>


         </div>

     </form>
    </div>

      
  





@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @*<script>
            $(function () {
                $("footer").hide(true);
                $("header").hide(true);
            });

    </script>*@

}
