@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<p class="text-success">@ViewData["StatusMessage"]</p>


<div class="container">
    <div>
        <h3 class="center-align">@ViewData["Title"]</h3>

    </div>
    <div class="row">
        <h5 class="center-align">Change your account settings</h5>
        <br/>
        <div class="row18">
            <div class="col s6 left-align">


                @if (Model.HasPassword)
            {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn waves-effect waves-light btn-small red accent-3">Change Password</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="btn waves-effect waves-light btn-small red accent-3">Create new Password</a>
                }

            </div>


            <div class="col s6 right-align">
                <a asp-controller="Manage" asp-action="ManageLogins" class="btn waves-effect waves-light btn-small red accent-3">Manage External Logins</a>
            </div>


        </div>

    </div>
</div>




