@model SetPasswordViewModel
@{
    ViewData["Title"] = "Set Password";
}


<div class="container">

    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>

    </div>

    <div class="row">
        <p >
            You do not have a local username/password for this site. Add a local
            account so you can log in without an external login.
        </p>
    </div>

    <form asp-controller="Manage" asp-action="SetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="center-align">

        <div class="row center-align">

            <div asp-validation-summary="All" class="red-text text-darken-2"></div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="validate" />
                <span asp-validation-for="NewPassword" class="red-text text-darken-2"></span>
            </div>
        </div>




        <div class="row">
            <div class="input-field col s12">
                <label asp-for="ConfirmPassword"></label>

                <input asp-for="ConfirmPassword" class="validate" />
                <span asp-validation-for="ConfirmPassword" class="red-text text-darken-2"></span>
            </div>
        </div>


        <div class="row">

            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light btn-small red accent-3">Set password</button>
            </div>
        </div>
    </form>


</div>






@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
