<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - All Blacks</title>
    <environment names="Development">


        <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.css" />
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
        <link rel="stylesheet" href="~/lib/animate.css/animate.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/iconfont/material-icons.css" />


        @*<link rel="stylesheet" href="~/lib/bootswatch/paper/bootstrap.min.css" />*@
        @*<link rel="stylesheet" href="~/css/site.css" />
            <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
            <link rel="stylesheet" href="~/css/dashboard.css" />*@
        @*<link href="~/lib/material-design-lite/material.css" rel="stylesheet" />*@
        @*<link href="~/css/simple-sidebar.css" rel="stylesheet" />*@
    </environment>
    <environment names="Staging,Production">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/dist/cssmaterialize.min.css" />
        <link rel="stylesheet" href="~/css/StyleSheet.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css"
              asp-fallback-href="~/lib/animate.css/animate.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"
              asp-fallback-href="~/lib/iconfont/material-icons.css" />



        @*<link rel="stylesheet" href="~/lib/bootswatch/paper/bootstrap.min.css" />*@
        @*<link rel="stylesheet" href="~/css/site.css" />*@
        @*<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />*@
        @*<link rel="stylesheet" href="~/css/dashboard.css" />*@
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        @*<link href="~/lib/material-design-lite/material.css" rel="stylesheet" />*@
        @*<link href="~/css/simple-sidebar.css" rel="stylesheet" />*@


        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@

    </environment>

    @RenderSection("AddToHead", required: false)
</head>
<body>
    <!-- /#wrapper -->
    <header>
        <nav class="hoverable red">
            <div class="nav-wrapper red-text">
                <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

                <a asp-controller="Home" asp-action="Index" class="brand-logo">iBaleka</a>



                <ul class="right hide-on-med-and-down">


                    <li>
                        <a asp-controller="Home" asp-action="Default">Features</a>

                    </li>

                    <li><a asp-controller="Home" asp-action="EmailUs"><small>Email Us</small></a></li>



                    <li><a asp-action="About" asp-controller="Home"><small>Help</small><span class="extra">Help and Support!!</span> </a></li>
                    <li>
                        <a>|</a>
                    </li>

                    @*<li>
                            <a asp-controller="Home" asp-action="About">About</a>
                        </li>*@
                    <li>
                        <a asp-controller="Manage" asp-action="Index" title="Manage">Settings</a>

                    </li>
                    <li>
                        @await Html.PartialAsync("_LoginPartial")

                    </li>
                </ul>
            </div>

            <ul class="side-nav" id="mobile-demo">


                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>

                </li>

                <li>
                    <a asp-controller="Home" asp-action="Default">Features</a>

                </li>

                <li>
                    <a asp-controller="Event" asp-action="Events">My Events</a>

                </li>

                <li>
                    <a asp-controller="Map" asp-action="SavedRoutes">My Routes</a>

                </li>
                <li>
                    <a asp-controller="Club" asp-action="Clubs">My Clubs</a>

                </li>

                <li>
                    <a asp-controller="Manage" asp-action="Index" title="Manage">Settings</a>

                </li>

            </ul>
        </nav>


    </header>





    <main>

        @RenderBody()



    </main>

    <footer class="page-footer red lighten-1">


        @*<div class="container">
               @{ var mydate = DateTime.Now.Year.ToString();}

                © @mydate All Blacks™
            </div>*@

    </footer>


    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjnuV3FErwMzDjZjz0zUnAFwWUkU9JiY&libraries=places&callback=initAutocomplete"
                async defer></script>

        @*<script src="~/lib/jquery-ui/jquery-ui.js"></script>*@
        @*<script src="~/lib/material-design-lite/material.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@

    </environment>

    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/dist/js/materialize.min.js">

        </script>

        @*<script src="~/lib/jquery-ui/jquery-ui.js"></script>*@
        @*<script src="~/lib/material-design-lite/material.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvjnuV3FErwMzDjZjz0zUnAFwWUkU9JiY&libraries=places&callback=initAutocomplete"
                async defer></script>

    </environment>
    @RenderSection("Scripts", required: false)

</body>

</html>
