@using Microsoft.AspNetCore.Identity
@using iBalekaWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="nav-wrapper">
        <ul class="">
            <li>
                <a asp-area="">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn waves-effect waves-teal btn-flat">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
