@{
    ViewData["Title"] = "Error";
}

@*<h1 class="text-danger">Error 404.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@
<style>

    /*body{
        background-image:url("https://s-media-cache-ak0.pinimg.com/736x/4d/46/cf/4d46cf7e95376333183dd0f00965be5f.jpg");
        background-repeat:no-repeat;
        background-size:cover;
    
        
        }*/
</style>

<div class="container right-align">

    <div class="row">
        <div class="col s12">
            <h2>Error 404</h2>
            <h3>An error occurred while processing your request</h3>
            <h3>Happens to the best of us #sadface</h3>
        </div>
        
    </div>

    <div class="row">
        <div class="col s12">
            <a asp-action="Index" asp-controller="Home" class="btn waves-effect waves-light btn-large red accent-3">
                Go Home
                <i class="material-icons right">send</i>
            </a>
        </div>

    </div>
</div>
